/* styles.css */
.stApp {
    background-color: #161717;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
    color: white;
}

header[data-testid="stHeader"] {
    background-color: #161717 !important; 
}

.custom-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}


/* Estilização da sidebar */
[data-testid="stSidebar"] {
    background-color: #242424;
    color: rgb(255, 255, 255);
    padding: 20px;
    
}

/* Ajuste de largura da sidebar */
[data-testid="stSidebar"] .css-1d391kg {
    width: 300px;
}

/* Estilização dos títulos na sidebar */
[data-testid="stSidebar"] h2 {
    color: #ff2600;
    font-size: 24px;
    font-family: Poppins;
}

/* Estilização das imagens na sidebar */
[data-testid="stSidebar"] img {
    border-radius: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.custom-header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 0;
}

.custom-header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

.custom-header2 h3 {
    font-family: 'Poppins', sans-serif;
    padding: 0%;
}

.card-box {
    background-color: #14140F; /* Cor de fundo da caixa */
    border-radius: 10px;
    padding: 10px; /* Reduzido para evitar excesso */
    margin: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    min-height: 100px; /* Altura mínima para manter o espaço */
    display: flex; /* Usar flexbox para alinhar conteúdo */
    flex-direction: column; /* Alinha o conteúdo na coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    border-top: 5px solid #00FF00;
    margin-bottom: 40px;
    
}

.card-box h2 {
    margin: 0; /* Remove margens padrão dos headings */
    padding: 0; /* Remove padding padrão dos headings */
    text-align: center; /* Centraliza o texto dentro dos headings */
    
}

.st-emotion-cache-1jicfl2 {
        padding: 2rem 1rem 5rem; /* Ajuste o padding superior aqui */
    }

.card-box2 {
    background-color: #14140F; /* Cor de fundo da caixa */
    border-radius: 10px;
    padding: 10px; /* Reduzido para evitar excesso */
    margin: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    min-height: 100px; /* Altura mínima para manter o espaço */
    display: flex; /* Usar flexbox para alinhar conteúdo */
    flex-direction: column; /* Alinha o conteúdo na coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    
}

.card-box-progresso-safra {
    background-color: #14140F; /* Cor de fundo da caixa */
    border-radius: 10px;
    padding: 10px; /* Reduzido para evitar excesso */
    margin: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    min-height: 420px; /* Altura mínima para manter o espaço */
    display: flex; /* Usar flexbox para alinhar conteúdo */
    flex-direction: column; /* Alinha o conteúdo na coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    border-top: 5px solid #00FF00;
    
}

.valor-teste {
    display: inline;
    font-size: 2em; /* ou o tamanho desejado para o número */
}

.icone-teste {
    display: inline;
    font-size: 1em; /* ou o tamanho desejado para o ícone */
    margin-left: 10px; /* ajusta o espaçamento entre o número e o ícone */
    vertical-align: middle; /* alinha o ícone verticalmente com o número */
    color: green; /* ou a cor que preferir */
}

/* Estiliza o container principal da sidebar */
.st-emotion-cache-cw0gvd.eczjsme14 {
    background-color: #ec4747;
}

.st-ak{
 color: #e9f5fa;   
 font-family: helvetica;
 font-size: 95%;
}

.st-an{
    background-color: #262730;   
   }

.custom-header3 h3{
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
}